@model IEnumerable<ControlInventario.Models.Orden>

@{
    ViewBag.Title = "Ordenes";
}

<h2>Ordenes</h2>

<p>
    @Html.ActionLink("Nueva orden", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.OrdenId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.OrdenId }) 
            @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.OrdenId })*@
        </td>
    </tr>
}

</table>
